<!DOCTYPE html>
<form action="/name" method=get>
   <button type="submit" >Detect face mask</button>
</form>
<br><br>
<form action="/end" method=post>
    <button type="submit" >End</button>
 </form>

